body{
    background: linear-gradient(to right, rgb(126, 12, 255), rgb(158, 112, 238), rgb(83, 6, 171));
    color: white;
    text-align: center;
    font-size: 1.8rem;
    height: 100vh;
}
.box {
    width: 50%;
    height: auto;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(59, 100, 21, 0.1);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0px 4px 10px rgba(12, 8, 245, 0.25);
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: white 7px dotted;
    text-align: justify;
    justify-content: center;
}
.container {
    display: inline-flex;
  }

  .texto {
    flex: 1;
  }
  
  .image {
    width: 400px;
    height: 400px;
    border-radius: 50%; /* Use 50% para tornar a imagem completamente redonda */
    overflow: hidden; /* Certifique-se de que a sombra não vai para fora da imagem */
    animation: pulse 1s ease-in-out infinite; /* Aplica a animação 'pulse' por 2 segundos, com uma transição suave e de forma infinita */
  }
  .texte{
    width: 80%;
    height: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(59, 100, 21, 0.1);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0px 4px 10px rgba(12, 8, 245, 0.25);
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: white 7px dotted;
    text-align: justify;
    justify-content: center;

  }
  a:hover{
    color: white;
    transition: 500ms;
  }
.bolinha{
  text-align: center;
  margin: 0%;
}
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(202, 142, 255, 0.7); /* Começa com uma sombra quase invisível */
    }
    50% {
      box-shadow: 0 0 0 20px rgba(255, 0, 0, 0); /* Aumenta a sombra para criar o efeito de pulsação */
    }
    100% {
      box-shadow: 0 0 0 0 rgba(90, 21, 120, 0.7); /* Retorna à sombra inicial */
    }
}